/*---------------------------------------*/
/* FONT FACE */
/*---------------------------------------*/
@font-face {
  font-family: "KyivType Serif";
  src: url("font/KyivTypeSerif-Medium.woff2") format("woff2"), url("font/KyivTypeSerif-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*---------------------------------------*/
/* VARIABLES */
/*---------------------------------------*/
/* Colors */
/* Font Family */
/* Font Sizes */
/* Breakpoints */
/*---------------------------------------*/
/* SETTINGS */
/*---------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #17261B;
  color: #F2EADA;
  font-family: "KyivType Serif", serif;
}

button,
input {
  cursor: pointer;
  font-family: "KyivType Serif", serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/*---------------------------------------*/
/* COMPONENTS */
/*---------------------------------------*/
.c-nav {
  background-image: url("../pictures/banner/Banner.png");
  background-size: cover;
  background-position: top;
  background-repeat: repeat-y;
  height: 12.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-nav__ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 24px 160px;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}

.c-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 240px;
  margin-bottom: 24px;
  background-image: url("../pictures/Banner/Banner.png");
  height: 70vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.c-hero__text {
  color: #F2EADA;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 24px;
}
.c-hero__button {
  background-color: #F2EADA;
  color: #59503E;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 24px;
}

.c-floatingBtn {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 40px;
  right: 40px;
  background-color: #F2EADA;
  color: #59503E;
  border-radius: 50px;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-floatingBtn__icon {
  height: 60%;
  width: 60%;
  fill: #59503E;
}

.c-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  padding: 24px 160px;
  color: #59503E;
}
.c-bar__search, .c-bar__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 50%;
  background-color: #F2EADA;
  padding: 24px;
  border-radius: 16px;
}
.c-bar__search__input, .c-bar__filter__input {
  width: 75%;
  padding: 8px;
  border-radius: 16px;
  border: none;
}
.c-bar__search__button, .c-bar__filter__button {
  background-color: #59503E;
  color: #F2EADA;
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
}
.c-bar__filter {
  width: 20%;
}

.c-cocktails {
  display: flex;
  justify-content: center;
  margin: 0 40px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.c-cocktails__cocktail {
  max-width: 400px;
  background-color: #F2EADA;
  color: #59503E;
  border-radius: 60px;
  margin-bottom: 20px;
}
.c-cocktails__cocktail__img {
  width: 400px;
  height: 400px;
  resize: both;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  background-color: #fff;
  border-radius: 60px 60px 0 0;
}
.c-cocktails__cocktail__info {
  height: 200px;
  padding: 20px;
  gap: 20px;
  text-align: center;
}
.c-cocktails__cocktail__info__name {
  font-size: 2rem;
}
.c-cocktails__cocktail__info__text {
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 1rem;
  padding: 20px 0;
}
.c-cocktails__cocktail__info__text__categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-cocktails__cocktail__info__text__categories__categoryIcon {
  margin-top: 16px;
}

.c-session {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px 160px;
  gap: 24px;
  color: #59503E;
}
.c-session__actual {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}
.c-session__actual__inUse, .c-session__actual__temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #F2EADA;
  padding: 24px;
  border-radius: 16px;
}
.c-session__actual__inUse {
  width: 75%;
}
.c-session__actual__inUse__text {
  font-size: 2.25rem;
}
.c-session__actual__inUse__name {
  font-size: 1rem;
}
.c-session__actual__temp {
  width: 25%;
  text-align: center;
  padding: 8px 24px;
}
.c-session__actual__temp__text, .c-session__actual__temp__compartement {
  font-size: 1.5rem;
}
.c-session__actual__temp__value {
  font-size: 2.25rem;
}
.c-session__hist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}
.c-session__hist__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 33%;
  background-color: #F2EADA;
  padding: 24px;
  border-radius: 16px;
}

.c-ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  margin: 40px;
}
.c-ingredients__current, .c-ingredients__all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  color: #59503E;
}
.c-ingredients__current__ingredient, .c-ingredients__all__ingredient {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 60px;
}
.c-ingredients__current__ingredient__img, .c-ingredients__all__ingredient__img {
  width: 400px;
  height: 400px;
  resize: both;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: top;
     object-position: top;
  border-radius: 60px;
  position: relative;
  -webkit-mask-image: linear-gradient(202deg, rgb(242, 234, 218) 0%, rgba(255, 255, 255, 0) 100%);
          mask-image: linear-gradient(202deg, rgb(242, 234, 218) 0%, rgba(255, 255, 255, 0) 100%);
}
.c-ingredients__current__ingredient__text, .c-ingredients__all__ingredient__text {
  color: #59503E;
  position: relative;
  bottom: 5.5rem;
  left: 2rem;
}
.c-ingredients__current__ingredient__text__name, .c-ingredients__all__ingredient__text__name {
  font-size: 1rem;
}
.c-ingredients__current__ingredient__text__category, .c-ingredients__all__ingredient__text__category {
  font-size: 2.5rem;
}

.c-postcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px 160px;
  color: #59503E;
  font-size: 1.5rem;
}
.c-postcard__top {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #F2EADA;
  width: 100%;
  gap: 40px;
}
.c-postcard__top__back {
  background-color: #F2EADA;
  width: 100px;
  height: 100px;
  color: #59503E;
  border-radius: 50px;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-postcard__top__back__icon {
  fill: #59503E;
}
.c-postcard__top__back__title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-postcard__top__back__title__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-postcard__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: auto;
  padding: 24px 40px;
  color: #59503E;
  background-color: #F2EADA;
  border-radius: 16px;
}
.c-postcard__content__text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 24px;
  width: 70%;
}
.c-postcard__content__text__short {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: auto;
}
.c-postcard__content__text__short__info {
  gap: 24px;
  padding: 24px;
  width: 50%;
}
.c-postcard__content__text__short__info__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  gap: 24px;
  padding: 24px;
}
.c-postcard__content__text__short__info__text__categories {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-postcard__content__text__short__info__text__categories__categoryIcon {
  margin-top: 16px;
}
.c-postcard__content__text__short__ingredients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 50%;
}
.c-postcard__content__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  width: 30%;
}
.c-postcard__content__btns__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.c-postcard__content__btns__btns__btn {
  background-color: #F2EADA;
  color: #59503E;
  padding: 8px 16px;
  border-color: #59503E;
  border-radius: 16px;
  width: 100%;
  font-size: 1.5rem;
}
.c-postcard__content__btns__btns__start {
  font-size: 2.5rem;
  background-color: #59503E;
  color: #F2EADA;
}
.c-postcard__content__btns__img {
  background-color: #fff;
  border-radius: 16px;
  width: 400px;
  height: 400px;
}

.c-dropdowns {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.c-dropdowns__back {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.c-dropdowns__back__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.c-dropdowns__back__text {
  font-size: 18px;
  color: #59503E;
}
.c-dropdowns__back a {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
.c-dropdowns .c-dropdowns_dropdown {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #F2EADA;
  border-radius: 5px;
}

.c-footer {
  padding: 24px 160px;
  text-align: center;
  font-size: 1rem;
}

/*---------------------------------------*/
/* UTILITIES */
/*---------------------------------------*/
.u-noLiStyle {
  list-style: none;
}

.u-currentPage {
  font-size: 2.5rem;
}

.u-bigIcon {
  height: 40px;
  width: 40px;
}

.u-Icon {
  height: 24px;
  width: 24px;
}

.u-noBanner {
  background-image: none;
}

.u-separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 40px;
}
.u-separator::before, .u-separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #F2EADA;
}
.u-separator:not(:empty)::before {
  margin-right: 1rem;
}
.u-separator:not(:empty)::after {
  margin-left: 1rem;
}

.u-meta {
  color: #BFAD86;
}

/*---------------------------------------*/
/* MEDIA QUERIES */
/*---------------------------------------*/
@media (max-width: 1200px) {
  .c-postcard__content {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .c-nav {
    height: auto;
    background-image: none;
  }
  .c-nav__ul {
    padding: 24px 40px;
    flex-direction: column;
  }
  .c-hero {
    padding: 0 40px;
  }
  .c-session__actual {
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  .c-session__actual__inUse, .c-session__actual__temp {
    width: 100%;
  }
  .c-session__hist {
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  .c-session__hist__section {
    width: 100%;
  }
  .c-postcard__content {
    flex-direction: column;
    gap: 24px;
  }
  .c-postcard__content__text {
    width: 100%;
  }
  .c-postcard__content__text__short {
    flex-direction: column;
    gap: 24px;
  }
  .c-postcard__content__text__short__info {
    width: 100%;
  }
  .c-postcard__content__text__short__ingredients {
    width: 100%;
  }
  .c-postcard__content__btns {
    width: 100%;
  }
}/*# sourceMappingURL=screen.css.map */