/*---------------------------------------*/
/* FONT FACE */
/*---------------------------------------*/
@font-face {
    font-family: 'KyivType Serif';
    src: url('font/KyivTypeSerif-Medium.woff2') format('woff2'),
        url('font/KyivTypeSerif-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*---------------------------------------*/
/* VARIABLES */
/*---------------------------------------*/
/* Colors */
$BackgroundColor: #17261B;
$PrimaryColor: #F2EADA;
$MetaColor: #BFAD86;
$BtnText: #59503E;

/* Font Family */
$PrimaryFontFamily: 'KyivType Serif', serif;

/* Font Sizes */
$floatingbuttonFontSizes: 6rem; // 96px
$bannerTextFontSizes: 4rem; // 64px
$titleFontSizes: 3rem; // 48px
$navSelectedAndAddTitleFontSizes: 2.5rem; // 40px
$subtitleFontSizes: 2.25rem; // 36px
$postCardTitleFontSizes: 2rem; // 32px
$navAndPostCardTextFontSizes: 1.5rem; // 24px
$text: 1rem; // 16px

/* Breakpoints */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
/*---------------------------------------*/
/* SETTINGS */
/*---------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: $BackgroundColor;
    color: $PrimaryColor;
    font-family: $PrimaryFontFamily;
}

button,
input {
    cursor: pointer;
    font-family: $PrimaryFontFamily;
}

a {
    text-decoration: none;
    color: inherit;
}

/*---------------------------------------*/
/* COMPONENTS */
/*---------------------------------------*/
.c-nav {
    background-image: url('../pictures/banner/Banner.png');
    background-size: cover;
    background-position: top;
    background-repeat: repeat-y;
    height: 12.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
        padding: 24px 160px;
        flex-direction: row;
        align-items: center;
        font-size: $navAndPostCardTextFontSizes;
    }
}

.c-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 240px;
    margin-bottom: 24px;
    background-image: url('../pictures/Banner/Banner.png');
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__text {
        color: $PrimaryColor;
        font-size: $bannerTextFontSizes;
        font-weight: 400;
        margin-bottom: 24px;
    }

    &__button {
        background-color: $PrimaryColor;
        color: $BtnText;
        padding: 12px 24px;
        border: none;
        border-radius: 50px;
        font-size: $navAndPostCardTextFontSizes;
        font-weight: 400;
        margin-top: 24px;
    }
}

.c-floatingBtn {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 40px;
    right: 40px;
    background-color: $PrimaryColor;
    color: $BtnText;
    border-radius: 50px;
    font-size: $floatingbuttonFontSizes;
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
        height: 60%;
        width: 60%;
        fill: $BtnText;
    }
}

.c-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    padding: 24px 160px;
    color: $BtnText;

    &__search,
    &__filter {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        width: 50%;
        background-color: $PrimaryColor;
        padding: 24px;
        border-radius: 16px;

        &__input {
            width: 75%;
            padding: 8px;
            border-radius: 16px;
            border: none;
        }

        &__button {
            background-color: $BtnText;
            color: $PrimaryColor;
            padding: 8px 16px;
            border: none;
            border-radius: 16px;
        }
    }

    &__filter {
        width: 20%;
    }
}

.c-cocktails {
    display: flex;
    justify-content: center;
    margin: 0 40px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    &__cocktail {
        background-color: $PrimaryColor;
        color: $BtnText;
        border-radius: 60px;
        margin-bottom: 20px;

        &__img {
            width: 400px;
            height: 400px;
            resize: both;
            object-fit: cover;
            object-position: top;
            background-color: #fff;
            border-radius: 60px 60px 0 0;
        }

        &__info {
            height: 200px;
            padding: 20px;
            gap: 20px;
            text-align: center;

            &__name {
                font-size: $postCardTitleFontSizes;
            }

            &__text {
                display: flex;
                text-align: center;
                justify-content: space-around;
                flex-direction: row;
                font-size: $text;
                padding: 20px 0;

                &__categories {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &__categoryIcon {
                        margin-top: 16px;
                    }
                }
            }
        }
    }
}

.c-session {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px 160px;
    gap: 24px;
    color: $BtnText;

    &__actual {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 24px;

        &__inUse,
        &__temp {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            background-color: $PrimaryColor;
            padding: 24px;
            border-radius: 16px;
        }

        &__inUse {
            width: 75%;

            &__text {
                font-size: $subtitleFontSizes;
            }

            &__name {
                font-size: $text;
            }
        }

        &__temp {
            width: 25%;
            text-align: center;
            padding: 8px 24px;

            &__text,
            &__compartement {
                font-size: $navAndPostCardTextFontSizes;
            }

            &__value {
                font-size: $subtitleFontSizes;
            }
        }
    }

    &__hist {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 24px;

        &__section {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            width: 33%;
            background-color: $PrimaryColor;
            padding: 24px;
            border-radius: 16px;
        }
    }
}

.c-ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px;

    &__current,
    &__all {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        color: $BtnText;

        &__ingredient {
            width: 400px;
            height: 400px;
            background-color: #fff;
            border-radius: 60px;

            &__img {
                width: 400px;
                height: 400px;
                resize: both;
                object-fit: scale-down;
                object-position: top;
                border-radius: 60px;
                position: relative;
                mask-image: linear-gradient(202deg, rgb(242, 234, 218) 0%, rgba(255, 255, 255, 0) 100%);
            }

            &__text {
                color: $BtnText;
                position: relative;
                bottom: 5.5rem;
                left: 2rem;

                &__name {
                    font-size: $text;
                }

                &__category {
                    font-size: $navSelectedAndAddTitleFontSizes;
                }
            }
        }
    }
}

.c-postcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px 160px;
    color: $BtnText;
    font-size: $navAndPostCardTextFontSizes;

    &__top {
        display: flex;
        justify-content: left;
        align-items: center;
        color: $PrimaryColor;
        width: 100%;
        gap: 40px;

        &__back {
            background-color: $PrimaryColor;
            width: 100px;
            height: 100px;
            color: $BtnText;
            border-radius: 50px;
            font-size: $floatingbuttonFontSizes;
            display: flex;
            justify-content: center;
            align-items: center;

            &__icon {
                fill: $BtnText;
            }

            &__title {
                display: flex;
                justify-content: center;
                align-items: center;

                &__text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: auto;
        padding: 24px 40px;
        color: $BtnText;
        background-color: $PrimaryColor;
        border-radius: 16px;

        &__text {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            padding: 24px;
            width: 70%;

            &__short {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                gap: auto;

                &__info {
                    gap: 24px;
                    padding: 24px;
                    width: 50%;

                    &__text {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        height: 100%;
                        gap: 24px;
                        padding: 24px;

                        &__categories {
                            display: flex;
                            flex-direction: column;
                            align-items: center;

                            &__categoryIcon {
                                margin-top: 16px;
                            }
                        }
                    }
                }

                &__ingredients {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 24px;
                    padding: 24px;
                    width: 50%;
                }
            }
        }

        &__btns {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 24px;
            width: 30%;

            &__btns {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 24px;

                &__btn {
                    background-color: $PrimaryColor;
                    color: $BtnText;
                    padding: 8px 16px;
                    border-color: $BtnText;
                    border-radius: 16px;
                    width: 100%;
                    font-size: $navAndPostCardTextFontSizes;
                }

                &__start {
                    font-size: $navSelectedAndAddTitleFontSizes;
                    background-color: $BtnText;
                    color: $PrimaryColor;
                }
            }

            &__img {
                background-color: #fff;
                border-radius: 16px;
                width: 400px;
                height: 400px;
            }
        }
    }
}

.c-dropdowns {
    display:block;
    flex-direction: column;
    justify-content: center;

    &__back {
        background-color: $PrimaryColor;
        width: 100px;
        height: 100px;
        color: $BtnText;
        border-radius: 50px;
        font-size: $floatingbuttonFontSizes;
        display: flex;
        justify-content: center;
        align-items: center;

        &__icon {
            fill: $BtnText;
        }
    }
}


.c-footer {
    padding: 24px 160px;
    text-align: center;
    font-size: $text;
}

/*---------------------------------------*/
/* UTILITIES */
/*---------------------------------------*/
.u-noLiStyle {
    list-style: none;
}

.u-currentPage {
    font-size: $navSelectedAndAddTitleFontSizes;
}

.u-bigIcon {
    height: 40px;
    width: 40px;
}

.u-Icon {
    height: 24px;
    width: 24px;
}

.u-noBanner {
    background-image: none;
}

.u-separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: $navAndPostCardTextFontSizes;
    margin: 0 40px;

    &::before,
    &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid $PrimaryColor;
    }

    &:not(:empty)::before {
        margin-right: 1rem;
    }

    &:not(:empty)::after {
        margin-left: 1rem;
    }
}

.u-meta {
    color: $MetaColor;
}

/*---------------------------------------*/
/* MEDIA QUERIES */
/*---------------------------------------*/

@media (max-width: $breakpoint-xl){
    .c-postcard__content{
        flex-direction: column;
    }
}

@media (max-width: $breakpoint-lg) {
    .c-nav {
        height: auto;
        background-image: none;
        &__ul {
            padding: 24px 40px;
            flex-direction: column;
        }
    }

    .c-hero {
        padding: 0 40px;
    }

    .c-session {
        &__actual {
            flex-direction: column;
            gap: 24px;
            width: 100%;

            &__inUse,
            &__temp {
                width: 100%;
            }
        }

        &__hist {
            flex-direction: column;
            gap: 24px;
            width: 100%;

            &__section {
                width: 100%;
            }
        }
    }

    .c-postcard {
        &__content {
            flex-direction: column;
            gap: 24px;

            &__text {
                width: 100%;

                &__short {
                    flex-direction: column;
                    gap: 24px;

                    &__info {
                        width: 100%;
                    }

                    &__ingredients {
                        width: 100%;
                    }
                }
            }

            &__btns {
                width: 100%;
            }
        }
    }

}